{% extends 'games/base.html' %}

{% load static %}

{% block title_block %}Home Page{% endblock %}

{% block style_block %}

{% endblock %}

{% block body_block %}

<section class="search-bar">
  <form class="search-form">
    <input type="text" name="q" value="">
    <button type="submit" name="button">search</button>

  </form>
</section>

<section class="paginator">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
  {% for game in games %}
    {# Each "contact" is a Contact model object. #}
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <a href="{% url 'game_detail' game.pk %}"><img class="staticly" width="300" height="300" src="{{game.image.url}}" alt="..." /></a>
        </div>
    </div>
{% endfor %}
</div>
</div>
<div class="pagination">
    <span class="step-links">
        {% if games.has_previous %}
            <a href="?page={{ games.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ games.number }} of {{ games.paginator.num_pages }}.
        </span>

        {% if games.has_next %}
            <a href="?page={{ games.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</section>

{% endblock %}

{% block script_block %}

{% endblock %}
